.header {
  height: 84px;
  background: grey;

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: $container;
  }

  &__menu {
    ul {
      display: flex;
    }
  }
}
