.features {
  padding: 100px 0;
}

.feature {
  margin-bottom: 50px;
  &__icon {
    font-size: 60px;
    color: $color-blue;
  }

  &__content {
    padding: 0 15px;
    margin-top: 30px;
    font-size: 14px;

    h4 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
    }

    p {
      color: $color-grey;
    }
  }
}
