.testimonials {
  background: #53354a;
  position: relative;
}

.testimonial {
  &__image {
    img {
      width: 100%;
    }
  }
  &__content {
    blockquote {
      padding: 100px 15% 0;
      color: $color-white;
      @include mq-tb {
        padding: 20px 10% 0;
      }
      @include mq-sp {
        padding: 2rem 15% 0;
      }
      p {
        font-family: 'Georgia', serif;
        font-size: 36px;
        font-weight: 400;
        font-style: italic;
        @include mq-tb {
          font-size: 26px;
        }
      }
      cite {
        font-weight: 700;
        line-height: 19px;
        font-size: 13px;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }
}
