.topview {
  background: url(../img/hero.png) no-repeat;
  background-position: right top;
  background-size: cover;
  height: 750px;
  @include mq-tb {
    height: 600px;
  }

  &--overlay {
    height: 750px;
    background: rgba($color-black, 0.6);
    @include mq-tb {
      height: 600px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    width: 80%;
    margin: 0 auto;
  }

  &__text {
    padding-top: 20%;
    color: $color-white;

    h2 {
      font-size: 48px;
      font-weight: 400;
      line-height: 72px;
      text-transform: uppercase;
      margin: 20px auto 10px;

      @include mq-tb {
        font-size: 42px;
        line-height: 42px;
      }

      @include mq-sp {
        font-size: 32px;
        line-height: 32px;
      }
    }

    p {
      font-weight: 300;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 80px;
      @include mq-tb {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}
