section.section.download.cta#ebook
  .container
    .col-md-8.text-center.cta--center.mb-3
      h3.mb-4 Are You Ready to Change? 
      p Get e-Book For Free!

      form.front-form(action="admin/insert.php" method="post")
        .form-group
          input(type="name", name="name" id="inputName" placeholder="Your Name" pattern="[a-zA-Z\s]{4,}" required)
          input(type="email", name="email" id="inputEmail" placeholder="Email Address" pattern="[a-zA-Z0-9.\-_]{3,}@{1}[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}.{0,}" required)
        button.btn.btn--primary(type="submit", value="Submit") Get e-Book Now

