section.section.download.cta#download
  .container
    .col-md-8.text-center.cta--center
      h3 Are You Ready to Change? Get e-Book For Free!
      p Lorem Ipsum, lroeam ipsum
      a.btn.btn--primary(href="#") Get e-Book Now
