footer.footer
  .footer__top
    .container: .row
      .footer__col.col-md-6
        h5: i.fas.fa-map-marker-alt
        p 3481 Melrose Place <br> Beverly Hills, CA 90210
      .footer__col.col-md-6
        h5
          i.fas.fa-plane 
          |Out of Town Patients
        p Patients from all over can benefit from the services offered at our Vancouver practice. We are happy to contribute to a relaxing and enjoyable stay in our vibrant city.

  .footer__bottom
    .container
      .col-md-12
        p: small Copyright &copy; 2019 Rejuvin8. All Rights Reserved.
        p Made by Yasushi Ikeda