footer.footer
  .footer__top
    .container: .row
      .footer__col.col-md-6
        h5 Location
        p 3481 Melrose Place <br> Beverly Hills, CA 90210
      .footer__col.col-md-6
        h5 About Rejuvin8
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit saepe temporibus hic, repellendus libero voluptatibus reprehenderit dolore consequuntur minus facilis magnam debitis soluta, modi quaerat optio dolor nulla nobis perferendis?

  .footer__bottom
    .container
      .col-md-12
        p: small Copyright &copy; 2019 Rejuvin8. All Rights Reserved.
        p Made by Yasushi Ikeda