.header
  .header__inner
    .header__logo
      a(href="#"): h1.header__logo Rejuvin8

    .header__menu
      ul
        li:a(href="#services") Service
        li:a(href="#benefits") Benefits
        li:a(href="#team") Doctors
        li:a(href="#access") Access