mixin feature(title, text, icon)
  .feature
    i.feature__icon.fas(class=icon)
    .feature__content
      h4= title
      p= text

- var text1 = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, asperiores porro quibusdam sit ab, nostrum perspiciatis laudantium non nemo at voluptatem cumque deleniti fuga dolores. Est quam at repellendus blanditiis.'



section.features.section#features
  .container
    .row.no-gutter
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('Reservaton', text1, 'fa-notes-medical')
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('About Us', text1, 'fa-hospital')
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('Meet Our Doctors', text1, 'fa-user-md')
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('Consulting', text1, 'fa-stethoscope')
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('Operation', text1, 'fa-syringe')
      .col-lg-4.col-md-6.col-sm-12.text-center
        +feature('After Care', text1, 'fa-capsules')

