section.testimonials.no-padding#testimonials
  .container-fluid
    .row.no-gutter.testimonial
      .col-lg-6.col-md-12.col-sm-12.testimonial__image
        img(src="https://pixelbuddha.net/livepreview/activebox/images/testimonial-1.jpg", alt="testimonial 1")
      .col-lg-6.col-md-12.col-sm-12.testimonial__content
        blockquote
          p "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
          cite.author Susan Sims, Interaction Designer at XYZ
