section.testimonials.no-padding#testimonial
  .container-fluid
    .row.no-gutter.testimonial
      .col-lg-6.col-md-12.col-sm-12.testimonial__image.text-center
        img(src="https://i.pinimg.com/originals/9a/ac/b2/9aacb249774273dc5565ee9e45c1469d.jpg", alt="testimonial 1")
      .col-lg-6.col-md-12.col-sm-12.testimonial__content
        blockquote
          p “There are no words to describe how grateful I am. My family and I are thrilled with the results”
          cite.author Susan Sims, Interaction Designer at XYZ
