section.topview#top
  .topview--overlay
    header.header
      .header__content
        a(href="#"): h1.header__logo Rejuvin8

        nav.menu-pc
          ul
            li: a(href="#features") Services
            li: a(href="#testimonial") Testimonial
            li: a(href="#team") Team
            li: a(href="555-5555-5555")
              i.fas.fa-phone-volume 
              |555-5555-5555
        
        #sp-nav
          #nav-toggle
            input(type="checkbox", name="")
            span
            span
            span
            ul#nav-content
              li: a(href="#features") Services
              li: a(href="#testimonial") Testimonial
              li: a(href="#team") Team
              li: a(href="555-5555-5555")
                i.fas.fa-phone-volume 
                |555-5555-5555

    .topview__content.container
      .topview__text.u-text-center
        h2.heading-primary Your Body Shapes Who You Are
        p We're offering a wide range of cosmetic surgical procedures that meet all your needs.

        a.btn.btn--primary(href="#") Get In Touch
