section.topview#top
  .topview--overlay
    header.header
      .header__content
        a(href="#"): h1.header__logo Rejuvin8

        nav.menu-pc
          ul
            li: a(href="#") Features
            li: a(href="#") Features
            li: a(href="#") Features
            li: a(href="012-3456-7890"): i.fas.fa-phone phone
        
        #sp-nav
          #nav-toggle
            input(type="checkbox", name="")
            span
            span
            span
            ul#nav-content
              li: a(href="#") Features
              li: a(href="#") Features
              li: a(href="#") Features
              li: a(href="tel:012-3456-7890"): i.fas.fa-phone phone

    .topview__content.container
      .topview__text.u-text-center
        h2.heading-primary Your Body Shapes Who You Are
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat quam adipisci quisquam quo hic recusandae, maxime rem nisi. Impedit repudiandae atque deleniti esse nostrum laudantium corporis porro, provident maiores! Officiis!

        a.btn.btn--primary(href="#") Get In Touch
