extends _layout
block title
  title Rejuvin8
block content
  .wrapper
    include include/_topview.pug
    include include/_service.pug
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus magni voluptatum quibusdam minima itaque nobis consectetur, est ut obcaecati, animi tempore quaerat totam, aspernatur quia. Deleniti hic veritatis magni.
    include include/_team.pug
    include include/_access.pug
    include include/_footer.pug