extends _layout
block title
  title Rejuvin8
block content
  .wrapper
    include include/_form.pug
    include include/_header.pug
    include include/_intro.pug
    include include/_service.pug
    include include/_team.pug
    include include/_access.pug
    include include/_footer.pug