extends _layout
block title
  title Rejuvin8
block content
  .wrapper
    include include/_topview.pug
    include include/_service.pug
    include include/_testimonial.pug
    include include/_team.pug
    include include/_access.pug
    include include/_footer.pug