.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 3px;
  &--primary {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: $color-orange;
    transition: all 0.2s;
    &:hover {
      background: darken($color-orange, 5%);
      color: #fff;
    }
  }
}
