.flash {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  background: #ddd;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #555;
  animation: fadeOut 3s forwards;
  text-transform: uppercase;
}

@keyframes fadeOut {
  0% {
    top: 0px;
  }
  70% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}
